.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-weight: 800;
  font-size: 1.5rem !important;
  position: relative;
}
.logo svg {
  transform: rotate(90deg);
  font-size: 1.7rem;
}
.logo_name_colored {
  color: var(--red);
}
@media screen and (max-width: 786px) {
  .logo svg {
    display: none;
  }
}
